<div class="page-header" style="background-image: url('./assets/img/bg-decoration.jpg');">
<div class="hero">
  <div class="product-answer2">
    <div class="flex-wrapper-one">
      <div class="product-food-two">
        <img
          alt=""
          class="img-product"
          src="https://static.overlay-tech.com/assets/baceccca-90ec-4fdf-8e36-ce12020e263e.svg"
        />
        <p class="product-food">Product</p>
        <img
          alt=""
          class="vector-2"
          src="https://static.overlay-tech.com/assets/6404199d-f4a3-42fd-a788-86ae135d05e5.svg"
        />
        <p class="product-food">Food</p>
      </div>
      <p class="date">Nov 1st, 2021</p>
    </div>
    <p class="idea-title">Sweets inside a bouquet</p>
    <p class="description">
      Candies and Chocolates inside a bouquet <br />
      without flowers, the users can choose<br />
      a bouquet custom or a predetermined.
    </p>
    <div class="flex-wrapper-two">
      <div class="desaprove">
        <img
          alt=""
          class="vector"
          src="https://static.overlay-tech.com/assets/da76c9f6-91e2-4f7f-b489-9989060eb511.svg"
        />
        <p class="approved-by-15-others">
          Approved by 15
          <strong class="approved-by-15-others-emphasis-1"
            >others</strong
          >
        </p>
      </div>
      <div class="desaprove">
        <img
          alt=""
          class="share"
          src="https://static.overlay-tech.com/assets/a632305b-2293-4bde-b345-eb8bbe0ba0dd.svg"
        />
        <p class="share-two">Share</p>
      </div>
    </div>
  </div>
  <div class="product-answer1">
    <div class="flex-wrapper-one">
      <div class="product-food-two">
        <img
          alt=""
          class="img-product"
          src="https://static.overlay-tech.com/assets/c580179d-6eb6-4ccd-a69a-8f788298feea.svg"
        />
        <p class="product-food">Product</p>
        <img
          alt=""
          class="vector-2"
          src="https://static.overlay-tech.com/assets/a7fcff7f-c0a3-48b7-8231-379701ed3f88.svg"
        />
        <p class="product-food">Food</p>
      </div>
      <p class="date">Nov 1st, 2021</p>
    </div>
    <p class="idea-title-two">Sweets inside a bouquet</p>
    <p class="description">
      Candies and Chocolates inside a bouquet <br />
      without flowers, the users can choose<br />
      a bouquet custom or a predetermined.
    </p>
    <div class="flex-wrapper-four">
      <div class="aprove-by">
        <img
          alt=""
          class="vector-two"
          src="https://static.overlay-tech.com/assets/50def77a-7390-4568-bae9-53ec90982e23.svg"
        />
        <p class="approved-by-15-others">
          Approved by
          <strong class="approved-by-15-others-emphasis-1"
            >you</strong
          >
          and 15
          <strong class="approved-by-15-others-emphasis-1"
            >others</strong
          >
        </p>
      </div>
      <div class="aprove-by">
        <img
          alt=""
          class="share"
          src="https://static.overlay-tech.com/assets/9f9d9a6c-8468-4856-85bb-744e144b2d9e.svg"
        />
        <p class="share-two">Share</p>
      </div>
    </div>
  </div>
  <div class="headline">
    <p class="subtitle">Suggestions</p>
    <p class="paragraph-small">
      Business Ideas about Services.
    </p>
  </div>
</div>
</div>