<div class="landing">
<div class="hero" >
  <div class="bg-decoration">
    <div class="header1">
        <h1 class="title title-font">Looking for a<br />
          Business Idea?
        </h1>
    </div>
    <div class="text">
        <p class="paragraph paragraph-font">
           If you’re looking for a new business or idea, GPT-3 is
        here to help! We provide a service that was never
        thought possible before.
        </p>
    </div>
    <div class="btn-center">
        <a href="#categories" class="button-gradient button-font">Find your spark</a>
    </div>
  </div>
</div>
</div>