.bg-decoration {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .ellipse-1 {
    width: 50%;
    height: 57.9%;
    background-color: rgba(0, 153, 255, 0.2);
    border-radius: 50%;
    filter: blur(360px);
  }
  .ellipse-2 {
    width: 50%;
    height: 57.9%;
    background-color: rgba(126, 42, 144, 0.25);
    margin-top: 253px;
    border-radius: 50%;
    filter: blur(360px);
  }
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 131px;
    bottom: 125px;
  }
  .header1 {
    max-width: 423px;
    width: 97.69%;
    height: 42.04%;
    color: var(--primary-text);
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 0.75px;
    font-family: var(--tittle-family);
    font-size: var(--tittle-size);
    font-weight: var(--tittle-weight);
    line-height: var(--tittle-line-height);
  }
  .paragraph {
    height: 23.42%;
    color: var(--third-text);
    align-self: stretch;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 0.75px;
    font-family: var(--paragraph-family);
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
    line-height: var(--paragraph-line-height);
  }
  .button2-two {
    width: calc(57.97% - 130px);
    height: calc(19.52% - 37px);
    background: linear-gradient(
      270deg,
      rgba(51, 0, 255, 1) 0%,
      rgba(180, 29, 141, 1) 98%
    );
    overflow: hidden;
    border-radius: 50px;
    padding: 18.5px 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button2 {
    color: var(--white);
    letter-spacing: 0.75px;
    font-family: var(--button-text-family);
    font-size: var(--button-text-size);
    font-weight: var(--button-text-weight);
    line-height: var(--button-text-line-height);
  }