<div>
    <div class="bg-decoration">
      <div class="ellipse-1"></div>
      <div class="ellipse-2"></div>
    </div>
    <div class="headline">
      <p class="header1">
        Looking for a<br />
        Business Idea?
      </p>
      <p class="paragraph">
        If you’re looking for a new business or idea, GPT-3 is
        here to help! We provide a service that was never
        thought possible before.
      </p>
      <div class="button2-two">
        <p class="button2">Find your spark</p>
      </div>
    </div>
  </div>
