<div class="hero">
  <div class="bg-decoration">
    <div class="ellipse-1"></div>
    <div class="ellipse-2"></div>
  </div>
  <div class="service-answer2">
    <div class="flex-wrapper-one">
      <div class="service-software-two">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/5c1db922-53d7-42b0-9f12-1486f44aa2a5.svg"
        />
        <p class="service-software">Service</p>
        <img
          alt=""
          class="vector-2"
          src="https://static.overlay-tech.com/assets/0646147e-98d6-45d1-8fe6-733a98e3e3db.svg"
        />
        <p class="service-software">Software</p>
      </div>
      <p class="date">Nov 1st, 2021</p>
    </div>
    <p class="idea-title">Creation of Custom Web Pages</p>
    <p class="description">
      Private company for the creation of <br />
      personalized web pages where it meets <br />
      the needs of its client.
    </p>
    <div class="flex-wrapper-two">
      <div class="desaprove">
        <img
          alt=""
          class="vector"
          src="https://static.overlay-tech.com/assets/43c6d60c-52a8-43eb-bb8e-ac3cdfa524f6.svg"
        />
        <p class="approved-by-15-others">
          Approved by 15
          <strong class="approved-by-15-others-emphasis-1"
            >others</strong
          >
        </p>
      </div>
      <div class="desaprove">
        <img
          alt=""
          class="share"
          src="https://static.overlay-tech.com/assets/4cb697c4-b628-49f8-925b-ef309d02734e.svg"
        />
        <p class="share-two">Share</p>
      </div>
    </div>
  </div>
  <div class="service-answer1">
    <div class="flex-wrapper-one">
      <div class="service-software-two">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/18fb1500-7fd7-4fa7-bd8f-ab2381c7da61.svg"
        />
        <p class="service-software">Service</p>
        <img
          alt=""
          class="vector-2"
          src="https://static.overlay-tech.com/assets/7079f42d-e341-44fc-ab8b-cbc81a6436b1.svg"
        />
        <p class="service-software">Software</p>
      </div>
      <p class="date">Nov 1st, 2021</p>
    </div>
    <p class="idea-title">Creation of Custom Web Pages</p>
    <p class="description">
      Private company for the creation of <br />
      personalized web pages where it meets <br />
      the needs of its client.
    </p>
    <div class="flex-wrapper-two">
      <div class="aprove-by">
        <img
          alt=""
          class="vector-two"
          src="https://static.overlay-tech.com/assets/cb7a3013-0944-41b0-b749-08da0cdd4205.svg"
        />
        <p class="approved-by-15-others">
          Approved by
          <strong class="approved-by-15-others-emphasis-1"
            >you</strong
          >
          and 15
          <strong class="approved-by-15-others-emphasis-1"
            >others</strong
          >
        </p>
      </div>
      <div class="aprove-by">
        <img
          alt=""
          class="share"
          src="https://static.overlay-tech.com/assets/d8fb57ce-9b39-4b31-bfbf-cb69c69c91e9.svg"
        />
        <p class="share-two">Share</p>
      </div>
    </div>
  </div>
  <div class="headline">
    <p class="subtitle">Suggestions</p>
    <p class="paragraph-small">
      Business Ideas about Services.
    </p>
  </div>
</div>
