.hero {
  padding: 75px 0 97px;
}
.bg-decoration {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.ellipse-1 {
  width: 50%;
  height: 57.9%;
  background-color: rgba(0, 153, 255, 0.2);
  border-radius: 50%;
  filter: blur(360px);
}
.ellipse-2 {
  width: 50%;
  height: 57.9%;
  background-color: rgba(126, 42, 144, 0.25);
  margin-top: 253px;
  border-radius: 50%;
  filter: blur(360px);
}
.service-answer2 {
  background-color: var(--white);
  border-radius: 30px;
  padding: 27px 34px 23px 31px;
  box-shadow: 0 4px 24px 0 rgba(51, 0, 255, 0.32);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 103px;
  bottom: 0;
}
.flex-wrapper-one {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}
.service-software-two {
  margin-right: 136.48px;
  display: flex;
  align-items: flex-start;
}
.img-service {
  width: 19px;
  height: 18.12px;
  margin-top: 2px;
  margin-right: 10px;
}
.service-software {
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--third-text);
  letter-spacing: 0.75px;
}
.service-software:not(:last-of-type) {
  margin-right: 10px;
}
.vector-2 {
  width: 6.82%;
  height: 29.55%;
  margin-top: 4px;
  margin-right: 3.52px;
}
.date {
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--third-text);
  letter-spacing: 0.75px;
}
.idea-title {
  color: var(--primary-text);
  margin-bottom: 3px;
  margin-left: 47px;
  letter-spacing: 0.75px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.description {
  max-width: 311px;
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(130, 130, 130, 1);
  text-align: center;
  margin-bottom: 35px;
  margin-left: 59px;
  letter-spacing: 0.75px;
}
.flex-wrapper-two {
  padding: 0 0 0 2px;
  display: flex;
  align-items: center;
}
.desaprove {
  display: flex;
  align-items: center;
}
.desaprove:not(:last-of-type) {
  margin-right: 138px;
}
.vector {
  width: 9.71%;
  height: 99.32%;
  margin-right: 10px;
}
.approved-by-15-others {
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(130, 130, 130, 1);
}
.approved-by-15-others-emphasis-1 {
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--third-text);
  letter-spacing: 0.75px;
}
.share {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.share-two {
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(130, 130, 130, 1);
  letter-spacing: 0.75px;
}
.service-answer1 {
  background-color: var(--white);
  border-radius: 30px;
  padding: 27px 34px 23px 31px;
  box-shadow: 0 4px 24px 0 rgba(51, 0, 255, 0.32);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 103px;
  top: 199px;
}
.aprove-by {
  display: flex;
  align-items: center;
}
.aprove-by:not(:last-of-type) {
  margin-right: 74px;
}
.vector-two {
  width: 7.41%;
  height: 99.32%;
  margin-right: 10px;
}
.headline {
  padding: 0 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: calc(50% - 359px / 2);
  top: 0;
}
.subtitle {
  font-family: "Rabbid Highway Sign IV";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: var(--primary-text);
  text-align: center;
  margin-bottom: 27px;
  letter-spacing: 0.75px;
}
.paragraph-small {
  width: 359px;
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--third-text);
  text-align: center;
  letter-spacing: 0.75px;
}