<div class="page-header">
  <div
    class="hero"
    style="background-image: url('./assets/img/bg-decoration.jpg')"
  >
    <div class="header2">
      <h2 class="h1-font">Categories</h2>
    </div>
    <div class="text1">
      <p class="paragraph p-small">
        For wich categories are you looking to <br />
        generate a business ideas? &nbsp;<span class="gradient-text"
          >Select one</span
        >
      </p>
    </div>
    <div class="btn-center">
      <a href="categories-service" class="btn1-2 btn-font"
        ><img
          alt=""
          class="img-icon"
          src="./assets/img/img-service.svg"
        />Service</a
      >
    </div>

    <div class="text3">
      <p class="p-small">More coming soon!</p>
    </div>
  </div>
</div>

<!-- 
  <div class="page-header">
  <div class="hero" style="background-image: url('./assets/img/bg-decoration.jpg');">
    <div class="header2">
      <h2 class="h1-font">Categories</h2>
    </div>
    <div class="text1">
    <p class="paragraph p-small">
      For wich categories are you looking to <br> 
      generate a business ideas? &nbsp;<span class="gradient-text">Select one</span>
    </p>
    </div>
    <div class="btn-center">
        <a href="categories-service" class="btn1-2 btn-font"><img alt="" class="img-icon" src="./assets/img/img-service.svg">Service</a>
    </div>

    <div class="text3">
      <p class="p-small">
        More coming soon!
      </p>
    </div>

  </div>
</div>
-->
