<div class="landing">
<div class="headline-categories">
    <div class="bg-decoration">
      <div class="ellipse-1"></div>
      <div class="ellipse-2"></div>
    </div>
    <div class="button4-two">
      <img
        alt=""
        class="img-product"
        src="https://static.overlay-tech.com/assets/6549d869-76f1-49a1-8a69-7c80138d5544.svg"
      />
      <p class="button4">Product</p>
    </div>
    <div class="button3">
      <img
        alt=""
        class="img-product"
        src="https://static.overlay-tech.com/assets/41ca2823-f3df-4c8c-84e7-771e67e8a494.svg"
      />
      <p class="button4">Service</p>
    </div>
    <p class="paragraph-small">
      For wich categories are you looking to generate a
      business ideas?
      <strong class="paragraph-small-emphasis-1"
        >Select one</strong
      >
    </p>
    <p class="subtitle">Categories</p>
  </div>
</div>