<div class="landing">
<div class="hero">
    <div class="bg-decoration">
      <div class="ellipse-1"></div>
      <div class="ellipse-2"></div>
    </div>
    <div class="ideas-buttons">
      <div class="num-10-ideas-two">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/a9ab3740-ff27-448e-897b-5e4ff6d2f3a3.svg"
        />
        <p class="num-10-ideas">10 ideas</p>
      </div>
      <div class="num-20-ideas">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/145f6fb3-27fe-4b6a-8157-47782c7a8778.svg"
        />
        <p class="num-10-ideas">20 ideas</p>
      </div>
      <div class="num-20-ideas">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/7a77a96a-9a4b-4d41-a9ad-7a2a5fca2442.svg"
        />
        <p class="num-10-ideas">30 ideas</p>
      </div>
    </div>
    <div class="headline-coins">
      <p class="subtitle">Spark Coins</p>
      <p class="paragraph-small">
        To generate a business idea you need to spend tokens,
        below we present to you our offers!.
        <strong class="paragraph-small-emphasis-1"
          >Select one</strong
        >
      </p>
    </div>
  </div>
</div>