<div class="page-header">
  <div
    class="hero"
    style="background-image: url('./assets/img/bg-decoration.jpg')"
  >
    <div>
      <a href="categories-service" class="btn-back p-small"
        ><img alt="" class="img-icon" src="./assets/img/img-back.svg" />Back</a
      >
    </div>
    <div class="header2">
      <h2 class="h1-font">Spark Coins</h2>
    </div>
    <div class="text1">
      <p class="paragraph p-small">
        Pick your spark package (7 coin = 1 idea)<br />
        <span class="gradient-text">Select one</span>
      </p>
    </div>
    <div class="group-btn">
      <div class="btn-center">
        <a href="answers-service"
          ><button class="btn1 btn-font">
            <img alt="" class="img-icon" src="./assets/img/img-spark.svg" />10
            sparks
          </button></a
        >
      </div>

      <div class="btn-center">
        <a href="answers-service"
          ><button class="btn1 btn-font">
            <img alt="" class="img-icon" src="./assets/img/img-spark.svg" />20
            sparks
          </button></a
        >
      </div>

      <div class="btn-center">
        <a href="answers-service"
          ><button class="btn1 btn-font">
            <img alt="" class="img-icon" src="./assets/img/img-spark.svg" />30
            sparks
          </button></a
        >
      </div>
    </div>
  </div>
</div>
