<div class="page-header">
  <div
    class="hero"
    style="background-image: url('./assets/img/bg-decoration.jpg')"
  >
    <div class="header2">
      <h2 class="h1-font">Pricing for Everyone</h2>
    </div>
    <div class="text1">
      <p class="paragraph p-small">
        Need more coins for &nbsp;<span class="gradient-text">Spark ideas</span
        >? Start today and get the business idea you want!
      </p>
    </div>

    <div class="btn-center">
      <div class="container3">
        <figure>
          <img alt="Basic" class="img-upg" src="./assets/img/img-basic.svg" />
        </figure>
        <div class="t-up">
          <p class="h4-font">Basic</p>
        </div>
        <div class="money">
          <p class="h2-font"><sup class="gradient-text btn-font">$</sup>5</p>
        </div>
        <div class="sub-up">
          <p class="gradient-text h4-font">500 Coins</p>
        </div>
        <div class="btn-center">
          <a href=""><button class="btn-up btn-border">Get Started</button></a>
        </div>
      </div>

      <div class="container3">
        <figure class="img-text">
          <img
            alt="Standard"
            class="img-upg"
            src="./assets/img/img-standard.svg"
          /><span class="gradient-text p-small offer">25% extra</span>
        </figure>
        <div class="t-up">
          <p class="h4-font">Standard</p>
        </div>
        <div class="money">
          <p class="h2-font"><sup class="gradient-text btn-font">$</sup>10</p>
        </div>
        <div class="sub-up">
          <p class="gradient-text h4-font">1250 Coins</p>
        </div>
        <div class="btn-center">
          <a href=""><button class="btn-up btn-border">Get Started</button></a>
        </div>
      </div>

      <div class="container3">
        <figure class="img-text">
          <img
            alt="Premium"
            class="img-upg"
            src="./assets/img/img-premium.svg"
          /><span class="gradient-text p-small offer">25% extra</span>
        </figure>
        <div class="t-up">
          <p class="h4-font">Premium</p>
        </div>
        <div class="money">
          <p class="h2-font"><sup class="gradient-text btn-font">$</sup>20</p>
        </div>
        <div class="sub-up">
          <p class="gradient-text h4-font">2500 Coins</p>
        </div>
        <div class="btn-center">
          <a href=""><button class="btn-up btn-border">Get Started</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
