.hero {
  padding: 9px 0 0;
}
.bg-decoration {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.ellipse-1 {
  width: 50%;
  height: 57.9%;
  background-color: rgba(0, 153, 255, 0.2);
  border-radius: 50%;
  filter: blur(360px);
}
.ellipse-2 {
  width: 50%;
  height: 57.9%;
  background-color: rgba(126, 42, 144, 0.25);
  margin-top: 253px;
  border-radius: 50%;
  filter: blur(360px);
}
.categories-brokendown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 237px;
  bottom: 103px;
}
.flex-wrapper-one {
  background-color: var(--white);
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 0 0 15px;
  box-shadow: 0 4px 24px 0 rgba(51, 0, 255, 0.32);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button3-selected {
  background-color: var(--white);
  margin-bottom: 15px;
  border-radius: 50px;
  padding: 15px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-service {
  width: 19px;
  height: 18.12px;
  margin-right: 10px;
}
.button3 {
  color: rgba(40, 40, 40, 1);
  letter-spacing: 0.75px;
  font-family: var(--button-text-family);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
  line-height: var(--button-text-line-height);
}
.food-category-two {
  margin-bottom: 30px;
  margin-left: 13px;
  display: flex;
  align-items: flex-start;
}
.circle {
  width: 16px;
  height: 16px;
  background-color: var(--white);
  margin-top: 4px;
  margin-right: 15.27px;
  border-radius: 50%;
  border: 2px solid rgba(130, 130, 130, 1);
}
.img-food {
  width: 20.26px;
  height: 20px;
  margin-top: 4px;
  margin-right: 12.47px;
}
.food-category {
  color: var(--third-text);
  letter-spacing: 0.75px;
  font-family: var(--button-text-family);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
  line-height: var(--button-text-line-height);
}
.software-category {
  margin-left: 13px;
  display: flex;
  align-items: center;
}
.circle-checked {
  background-color: var(--white);
  margin-right: 15.27px;
  border-radius: 50%;
  padding: 4px 3.85px 4px 4.15px;
  display: flex;
  align-items: center;
}
.ellipse-10 {
  width: 12px;
  height: 12px;
  background: linear-gradient(
    270deg,
    rgba(51, 0, 255, 1) 0%,
    rgba(180, 29, 141, 1) 98%
  );
  border-radius: 50%;
}
.img-food-two {
  width: 20.26px;
  height: 20px;
  margin-right: 13.47px;
}
.button4 {
  background-color: var(--white);
  border-radius: 50px;
  padding: 15px 65px;
  box-shadow: 0 4px 24px 0 rgba(180, 29, 141, 0.32);
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-categories-brokendown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 168px;
  top: 0;
}
.subtitle {
  font-family: "Rabbid Highway Sign IV";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: var(--primary-text);
  text-align: center;
  margin-bottom: 27px;
  letter-spacing: 0.75px;
}
.paragraph-small {
  width: 359px;
  text-align: center;
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--third-text);
}
.paragraph-small-emphasis-1 {
  font-family: "Rabbid Highway Sign IV";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
  letter-spacing: 0.75px;
}