<div class="hero">
  <div class="bg-decoration">
    <div class="ellipse-1"></div>
    <div class="ellipse-2"></div>
  </div>
  <div class="categories-brokendown">
    <div class="flex-wrapper-one">
      <div class="button3-selected">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/565db447-684e-430f-89d4-12676a190dd1.svg"
        />
        <p class="button3">Service</p>
      </div>
      <div class="food-category-two">
        <div class="circle"></div>
        <img
          alt=""
          class="img-food"
          src="https://static.overlay-tech.com/assets/a4f1498f-1624-4f77-bb40-a1d03b39a2e2.svg"
        />
        <p class="food-category">Food</p>
      </div>
      <div class="food-category-two">
        <div class="circle"></div>
        <img
          alt=""
          class="img-food"
          src="https://static.overlay-tech.com/assets/75e4b712-ed0d-4bfb-b87e-7aa247b87ea1.svg"
        />
        <p class="food-category">Entertainment</p>
      </div>
      <div class="software-category">
        <div class="circle-checked">
          <div class="ellipse-10"></div>
        </div>
        <img
          alt=""
          class="img-food-two"
          src="https://static.overlay-tech.com/assets/9a514cb6-8048-46fb-8541-cee04c39f3b6.svg"
        />
        <p class="food-category">Software</p>
      </div>
    </div>
    <div class="button4">
      <img
        alt=""
        class="img-service"
        src="https://static.overlay-tech.com/assets/25585c12-fa94-44b1-b941-6ded8ec7efb2.svg"
      />
      <p class="button3">Product</p>
    </div>
  </div>
  <div class="headline-categories-brokendown">
    <p class="subtitle">Categories</p>
    <p class="paragraph-small">
      For wich categories are you looking to generate a
      business ideas?
      <strong class="paragraph-small-emphasis-1"
        >Select one</strong
      >
    </p>
  </div>
</div>
