<div class="page-header">
  <div
    class="hero"
    style="background-image: url('./assets/img/bg-decoration.jpg')"
  >
    <div class="header2">
      <h2 class="h1-font">Categories</h2>
    </div>
    <div class="text1">
      <p class="paragraph p-small">
        For wich categories are you looking to <br />
        generate a business ideas? &nbsp;<span class="gradient-text"
          >Select one</span
        >
      </p>
    </div>
    <div class="btn-center">
      <div class="container">
        <ul class="cat">
          <li>
            <a href="categories" class="btn2 btn-center btn-font"
              ><img
                alt="service category"
                class="img-icon2"
                src="./assets/img/img-service.svg"
              />Service</a
            >
            <ul>
              <li>
                <input type="radio" name="category" id="food" /><label
                  for="food"
                  ><img
                    alt="food category"
                    class="img-cat"
                    src="./assets/img/img-food.svg"
                  />Food</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="games" /><label
                  for="games"
                  ><img
                    alt="games category"
                    class="img-cat"
                    src="./assets/img/img-games.svg"
                  />Games</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="smartphone" /><label
                  for="smartphone"
                  ><img
                    alt="smartphone category"
                    class="img-cat"
                    src="./assets/img/img-smartphone.svg"
                  />Smartphone</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="nft" /><label for="nft"
                  ><img
                    alt="nft category"
                    class="img-cat"
                    src="./assets/img/img-nft.svg"
                  />NFT</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="crypto" /><label
                  for="crypto"
                  ><img
                    alt="crypto category"
                    class="img-cat"
                    src="./assets/img/img-crypto.svg"
                  />Crypto</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="blockchain" /><label
                  for="blockchain"
                  ><img
                    alt="blockchain category"
                    class="img-cat"
                    src="./assets/img/img-blockchain.svg"
                  />Blockchain</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="no-code" /><label
                  for="no-code"
                  ><img
                    alt="no-code category"
                    class="img-cat"
                    src="./assets/img/img-nocode.svg"
                  />No-code</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="web-app" /><label
                  for="web-app"
                  ><img
                    alt="web-app category"
                    class="img-cat"
                    src="./assets/img/img-web.svg"
                  />Web-app</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="bot" /><label for="bot"
                  ><img
                    alt="bot category"
                    class="img-cat"
                    src="./assets/img/img-bot.svg"
                  />Bot</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="productivity" /><label
                  for="productivity"
                  ><img
                    alt="productivity category"
                    class="img-cat"
                    src="./assets/img/img-productivity.svg"
                  />Productivity</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="ai" /><label for="ai"
                  ><img
                    alt="ai category"
                    class="img-cat"
                    src="./assets/img/img-ai.svg"
                  />Ai</label
                >
              </li>
              <li>
                <input type="radio" name="category" id="metaverse" /><label
                  for="metaverse"
                  ><img
                    alt="metaverse category"
                    class="img-cat"
                    src="./assets/img/img-meta.svg"
                  />Metaverse</label
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="text3">
      <p class="p-small">More coming soon!</p>
    </div>
    <div class="btn-center">
      <a href="coins"><button class="btn-gradient btn-font">Next</button></a>
    </div>
  </div>
</div>
