:root {
  --white-color: white;
  --third-text: #333333;
}
.h4{
  font-family: Rabbid Highway Sign IV;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 165%;
  letter-spacing: 0.75px;;
}

.nav-bar {
  background-color: var(--white);
  padding: 26px 99px 26px 55px;
  display: flex;
  align-items: center;
}
.logo {
  width: 162px;
  height: 73px;
  margin-right: 287px;
}
.navlinks {
  margin-right: 103px;
  display: flex;
  align-items: flex-start;
}
.navarlink1-two {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navarlink1-two:not(:last-of-type) {
  margin-right: 25px;
}
.navarlink1 {
  color: var(--third-text);
  letter-spacing: 0.75px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.navarlink3 {
  color: var(--black);
  letter-spacing: 0.75px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.coin {
  margin-right: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
}
.image-coin {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.spark-ideas {
  overflow: hidden;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}