<nav class="nav-bar">
  <a href="#landing"><img
    alt="spark logo"
    class="logo"
    src="https://static.overlay-tech.com/assets/bdd6d96a-8cf6-4c80-9610-de2247bce6cc.svg"
  /></a>
  <div class="navlinks">
    <div class="navarlink1-two">
      <a class="navarlink1 h4" rel="tooltip" href="#">Settings</a>
    </div>
    <div class="navarlink1-two">
      <a class="navarlink1 h4" rel="tooltip" href="#">History</a>
    </div>
    <div class="navarlink1-two">
      <a class="navarlink3 h4" rel="tooltip" href="#">Upgrade</a>
    </div>
    <div class="coin">
      <a href="#" class="navarlink1 h4">
      <img
        alt="coins"
        class="image-coin"
        src="https://static.overlay-tech.com/assets/926d49c5-14a4-40f4-a8df-d92b71859749.png"
      />25</a>
    </div>
  </div>
  <div class="spark-ideas">
    <a class="navarlink1" href="#">
    <p>Spark Ideas</p>
    </a>
  </div>
</nav>