<nav class="nav-bar">
     <div class="logo" >
         <a href="#landing"><img src="./assets/img/logo.png" alt=""></a>
      </div>
       <ul>
          <li class="navlink1"><a href="#">Settings</a>
          </li>
          <li class="navlink2"><a href="#">History</a>
          </li>
          <li class="navlink3"><a class="gradient-text" href="#">Upgrade</a>
          </li>
          <li class="coin"><a href="#landing"><img class="image-coin" src="./assets/img/coin.png">25</a>
          </li>
          <li class="navlink4"><a href="#">Spark Ideas</a>
          </li>
      </ul>
</nav>