<div class="page-header">
  <div
    class="hero"
    style="background-image: url('./assets/img/bg-decoration.jpg')"
  >
    <div class="header3">
      <h3 class="h4-font">
        You don’t have bussiness ideas yet<img
          alt=""
          class="img-icon3"
          src="./assets/img/img-sademoji.svg"
        /><br />
        Make<strong class="gradient-text h4-font"> new ones</strong>!
      </h3>
    </div>
    <div class="btn-center mg-bottom">
      <a href="#categories"
        ><button class="btn-gradient btn-font">Find your spark</button></a
      >
      <!--<a href="#categories" *ngIf="userLogged |async as user else showSignin"><button class="btn-gradient btn-font">Find your spark</button></a>
              <ng-template #showSignin><a href="#signin"><button class="btn-gradient btn-font">Find your spark</button></a></ng-template>-->
    </div>
  </div>
</div>

<!-- ideas made it -->

<!--<div class="page-header">
    <div class="hero" style="background-image: url('./assets/img/bg-decoration.jpg');">
        <div class="header2">
            <h2 class="h1-font">History</h2>
        </div>
        <div class="text1">
            <p class="paragraph paragraph-small">
                Your preivosly made ideas.
            </p>
        </div>

        <div class="btn-center">
          <div class="container2">
            <div class="flex-wrapper1">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-service.svg"><p>Service</p><img alt="" class="img-arrow" src="./assets/img/img-arrow.svg"><p>Smartphone</p>
              </div>
                <p>jhonny99</p><button class="username btn-link"><img alt="" class="img-more" src="./assets/img/img-more.svg"></button>
            </div>
            <div class="idea-title"> 
              <h3 class="h4-font">Creation of Custom Web Pages</h3>
            </div>
            <div class="description">
              <p class="p-small">
              Private company for the creation of <br>
              personalized web pages where it meets <br>
              the needs of its client.
              </p>
            </div>
            <div class="flex-wrapper2">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-spark.svg"><p>Approved by <b>you</b> and 15<b> others</b></p>
              </div>
                <a href="#share" target="_blank"><button class="username btn-link"><img alt="" class="img-icon" src="./assets/img/img-share.svg">Share</button></a>
            </div>
          </div>
        </div>
  
        <div class="btn-center">
          <div class="container2">
            <div class="flex-wrapper1">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-service.svg"><p>Service</p><img alt="" class="img-arrow" src="./assets/img/img-arrow.svg"><p>Smartphone</p>
              </div>
              <p>jhonny99</p>
            </div>
            <div class="idea-title"> 
              <h3 class="h4-font">Creation of Custom Web Pages</h3>
            </div>
            <div class="description">
              <p class="p-small">
              Private company for the creation of <br />
              personalized web pages where it meets <br />
              the needs of its client.
              </p>
            </div>
            <div class="flex-wrapper2">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-desaprove.svg"><p>Approved by and 15<b> others</b></p>
              </div>
              <a href="#share" target="_blank"><button class="username btn-link"><img alt="" class="img-icon" src="./assets/img/img-share.svg">Share</button></a>
            </div>
          </div>
        </div>

        <div class="btn-center">
          <div class="container2">
            <div class="flex-wrapper1">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-service.svg"><p>Service</p><img alt="" class="img-arrow" src="./assets/img/img-arrow.svg"><p>Smartphone</p>
              </div>
              <p>jhonny99</p>
            </div>
            <div class="idea-title"> 
              <h3 class="h4-font">Creation of Custom Web Pages</h3>
            </div>
            <div class="description">
              <p class="p-small">
              Private company for the creation of <br />
              personalized web pages where it meets <br />
              the needs of its client.
              </p>
            </div>
            <div class="flex-wrapper2">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-desaprove.svg"><p>Approved by and 15<b> others</b></p>
              </div>
              <a href="#share" target="_blank"><button class="username btn-link"><img alt="" class="img-icon" src="./assets/img/img-share.svg">Share</button></a>
            </div>
          </div>
        </div>
        
        <div class="btn-center">
          <div class="container2">
            <div class="flex-wrapper1">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-service.svg"><p>Service</p><img alt="" class="img-arrow" src="./assets/img/img-arrow.svg"><p>Smartphone</p>
              </div>
              <p>jhonny99</p>
            </div>
            <div class="idea-title"> 
              <h3 class="h4-font">Creation of Custom Web Pages</h3>
            </div>
            <div class="description">
              <p class="p-small">
              Private company for the creation of <br />
              personalized web pages where it meets <br />
              the needs of its client.
              </p>
            </div>
            <div class="flex-wrapper2">
              <div class="service-c">
                <img alt="" class="img-icon" src="./assets/img/img-desaprove.svg"><p>Approved by and 15<b> others</b></p>
              </div>
              <a href="#share" target="_blank"><button class="username btn-link"><img alt="" class="img-icon" src="./assets/img/img-share.svg">Share</button></a>
            </div>
          </div>
        </div>
        
    </div>
</div>-->
