.footer {
    background-color: var(--white);
    padding: 26px 78px 26px 55px;
    display: flex;
    align-items: center;
  }
  .logo-two {
    margin-right: 757px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 145px;
    height: 73px;
  }
  .footer {
    background-color: var(--white);
    padding: 26px 78px 26px 55px;
    display: flex;
    align-items: center;
  }
  .logo-two {
    margin-right: 757px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 145px;
    height: 73px;
  }
  .footerlinks {
    display: flex;
    align-items: flex-start;
  }
  .footerlin1-two {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerlin1-two:not(:last-of-type) {
    margin-right: 25px;
  }
  .footerlin1 {
    color: var(--third-text);
    letter-spacing: 0.75px;
    font-family: var(--paragraph-family);
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
    line-height: var(--paragraph-line-height);
  }