<footer>
  <div class="group1">
      <div class="box">
          <figure>
              <a href="https://mnd.services/" target="_blank" class="h3-font">mnd</a>
          </figure>
      </div>
      <div class="box">
          <h5 class="h4-font">Company</h5>
          <ul class="social">
              <li><a>Contact</a></li>
              <li><a>Privacy</a></li>
              <li><a>Terms</a></li> 
          </ul>
      </div>
      <div class="box">
          <h5 class="h4-font">Follow Us</h5>
          <ul class="social">
              <li><a rel="tooltip" title="Follow us on Instagram">Instagram</a></li>
              <li><a rel="tooltip" title="Follow us on Twitter">Twitter</a></li>
              <li><a rel="tooltip" title="Follow us on Tiktok">Tiktok</a></li>
          </ul>
      </div>   
  </div>
</footer>