<div class="page-header">
  <div
    class="hero"
    style="background-image: url('./assets/img/bg-decoration.jpg')"
  >
    <div class="btn-center logo">
      <a href="#landing"
        ><img class="img-logo" alt="logo" src="./assets/img/img-logo.svg"
      /></a>
    </div>

    <div class="btn-center">
      <div class="container2">
        <div class="flex-wrapper1">
          <div class="service-c">
            <img alt="" class="img-icon" src="./assets/img/img-service.svg" />
            <p>Service</p>
            <img alt="" class="img-arrow" src="./assets/img/img-arrow.svg" />
            <p>Smartphone</p>
          </div>
          <p>jhonny99</p>
          <button class="username btn-link">
            <img alt="" class="img-more" src="./assets/img/img-more.svg" />
          </button>
        </div>
        <div class="idea-title">
          <h3 class="h4-font">Creation of Custom Web Pages</h3>
        </div>
        <div class="description">
          <p class="p-small">
            Private company for the creation of <br />
            personalized web pages where it meets <br />
            the needs of its client.
          </p>
        </div>
        <div class="flex-wrapper2">
          <div class="service-c">
            <img alt="" class="img-icon" src="./assets/img/img-spark.svg" />
            <p>Approved by <b>you</b> and 15<b> others</b></p>
          </div>
          <a href="#share" target="_blank"
            ><button class="username btn-link">
              <img
                alt=""
                class="img-icon"
                src="./assets/img/img-share.svg"
              />Share
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
