<div class="page-header" style="background-image: url('./assets/img/bg-decoration.jpg');">
  <div class="hero">
  <div class="categories-brokendown">
    <div class="button3-two">
      <img
        alt=""
        class="img-service"
        src="https://static.overlay-tech.com/assets/6db71eed-38bd-4b2a-bfe5-3da2175c0676.svg"
      />
      <p class="button3">Service</p>
    </div>
    <div class="relative-wrapper-one">
      <div class="flex-wrapper-one">
        <div class="food-category-two">
          <div class="circle-checked">
            <div class="ellipse-10"></div>
          </div>
          <img
            alt=""
            class="img-food"
            src="https://static.overlay-tech.com/assets/c3efb263-5ecc-4576-b323-9d8254a38fa5.svg"
          />
          <p class="food-category">Food</p>
        </div>
        <div class="entertainment-category">
          <div class="circle"></div>
          <img
            alt=""
            class="img-food-two"
            src="https://static.overlay-tech.com/assets/c0857a2d-d7f0-4934-9115-3504218c3903.svg"
          />
          <p class="food-category">Entertainment</p>
        </div>
        <div class="entertainment-category">
          <div class="circle"></div>
          <img
            alt=""
            class="img-food-three"
            src="https://static.overlay-tech.com/assets/4629b13d-72f7-4658-90dc-685154b5aa20.svg"
          />
          <p class="food-category">Software</p>
        </div>
      </div>
      <div class="button4">
        <img
          alt=""
          class="img-service"
          src="https://static.overlay-tech.com/assets/c97f3cbd-481a-4703-86a4-891a4f80b5cd.svg"
        />
        <p class="button3">Product</p>
      </div>
    </div>
  </div>
  <div class="headline-categories-brokendown">
    <p class="subtitle">Categories</p>
    <p class="paragraph-small">
      For wich categories are you looking to generate a
      business ideas?
      <strong class="paragraph-small-emphasis-1"
        >Select one</strong
      >
    </p>
  </div>
  </div>
</div>